
.container{
    margin: 4%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    break-inside: avoid;
    
}

input{
    border-radius: 10px;
    border: 1px solid #959595;
    padding: 1%;
    color: black;
}

.end{
    position: absolute;
    right: 5%;
}

b{
    font-size: 1.1vw;
    padding: 2vw 0px;
    position: relative;
    left: 40%;
}

.love{
    color: rgb(140, 0, 255);
    font-size: 1vw;
}

span{
    padding-left: 5px;
    color:red;
    font-size: small;
}

img{
    background-color: white;
    object-fit:contain;
    width:100%;
    height:100%;
    border-radius: 5%;
}

.btn-outline-danger{
    position: absolute;
    right: 10%;
    top: 6%;
    z-index:100;

    
}



.btn-success{
    border-radius: 15px;
    height: fit-content;

}

.column{
    column-count: 3;
    margin: 1% 10%;
    column-width:10%;
    position: relative;
}

p{
    position: absolute;
    left:10%;
    right: 10%;
    bottom: 2%;
    color: white;
    font-size:2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row{
    margin: 2% 6% 3% 11%;

}


.container:hover{
    opacity: 80%;
    z-index: 2;
}

.over{
    z-index:200;
    background-color: white;
    width: 40%;
    height: 28%;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
    top:36%;
    position: absolute;
    left: 30%;

}

.over:after{
    opacity: 0.25;
    filter: brightness(100%);
}

.logo{
    height: max-content;
    padding-top: 2%;
}




.buttons{
    flex-direction: row;
    margin: 20px;
    padding-left: 60%;
}

label{
    padding: 10px 0px;
}

.cancel{
    position: absolute;
    color: grey;
    right: 30%;
}

.add{
    z-index:300;
    background-color: white;
    width: 40%;
    height: 38%;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    left: 30%;
    top: 35%;
    
}


